# Example environment variables for the Shepherd's Stories backend application.

# Optional
APP_NAME="shepherds_stories_backend"
DB_DATABASE="shepherds_stories"
DB_HOST="localhost"
DB_PORT="5432"

# Required
DB_USERNAME="user_name"
DB_PASSWORD="user_password"