@import "tailwindcss";

:root {
    --text: #222222;
    --bg-deep: #fafafa;
    --bg-card: #0f172a;
    --bg-input: #111827;
    --border: #1e293b;
    --border-input: #334155;
    --primary: #1d4ed8;
    --primary-hover: #1e40af;
    --accent: #93c5fd;
    --code-bg: #1f2028;
    --error: #f87171;

    --sans: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --mono: ui-monospace, Consolas, 'Courier New', monospace;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: dark;
    color: var(--text);
    background: var(--bg-deep);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

@theme {
    --color-primary: #8EA58C;
    --color-accent-light-green: #BFCFBB;
    --color-accent-mid-green: #738A6E;
    --color-accent-dark-green: #344C3D;
    --color-black: #222222;
    --color-white: #FAFAFA;

    --text-header-1: 57px;
    --text-header-2: 47px;
    --text-header-3: 40px;
    --text-header-4: 33px;
    --text-header-5: 27px;
    --text-header-6: 23px;

    --text-body-large: 19px;
    --text-body-medium: 16px;
    --text-body-small: 13px;

}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg-deep);
    color: var(--text);
}

#root {
    width: 100%;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

code,
.counter {
    font-family: var(--mono);
    display: inline-flex;
    border-radius: 4px;
}

code {
    font-size: 15px;
    line-height: 135%;
    padding: 4px 8px;
    background: var(--code-bg);
}
